---
import Layout from "../layouts/Layout.astro"

---

<Layout title="About me">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, minima. Cupiditate sequi quaerat exercitationem natus sint officia magnam, cum perspiciatis minus inventore. Eveniet dignissimos explicabo beatae. Debitis, numquam, totam ipsam quibusdam possimus, sint deleniti iure vitae voluptatibus rerum sunt unde. Accusantium distinctio eum saepe, doloremque necessitatibus ea, quas harum perspiciatis repellendus obcaecati consequuntur sed laborum ipsam? Officiis ab eligendi libero id beatae nesciunt delectus hic magnam iure porro maiores velit non iste cum, possimus similique? Impedit eius animi sint error quam labore molestiae ipsa nisi cupiditate assumenda soluta perspiciatis tenetur ex vel dolorem id, distinctio, enim voluptates ducimus explicabo. Fugit!</p>
</Layout>